@model IEnumerable<DataBaseFirst.Models.tbl_FacturaDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_FacturaCabecera.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Producto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_FacturaCabecera.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Producto.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFacturaDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFacturaDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFacturaDetalle })
        </td>
    </tr>
}

</table>
